body{

font-family:Arial;
padding:20px;
background:#f2f2f2;

}

#products{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;

}

.card{

background:white;
padding:15px;
border:1px solid gray;
text-align:center;

}

button{

padding:8px;
margin:5px;

}

table{

width:100%;
border-collapse:collapse;
margin-top:20px;

}

table,th,td{

border:1px solid gray;
padding:10px;

}

#invoice{

margin-top:20px;
background:white;
padding:20px;

}